@charset "utf-8";
/* CSS Document */

* {
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body {
  font-family: Verdana, Geneva, sans-serif;
  background-color:#f4f4f4;
  color:#333
}

.site-header {
  background-color: #fff;
  width: 100%;
  padding: 15px 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  max-height: 60px;
  display: block;
}

.main-nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.main-nav li {
  color: #89CAAE;
  font-weight: 600;
  cursor: pointer;
}

.main-nav li: hover {
  color: #8CCCB1;
}

.main-nav a {
  text-decoration: none;
  color: #89CAAE;
  font-weight: 600;
}

.main-nav a: hover {
  color: #8CCCB1;
}
